@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$minesweeper-width: 400px;
$minesweeper-height: 600px;
$minesweeper-width-half: calc($minesweeper-width/2);
$minesweeper-head-height: 50px;
$minesweeper-border-size: 4px;

#minesweeper {
  background: #333;
  width: $minesweeper-width;
  height: $minesweeper-height;
  display: flex;
  flex-direction: column;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 1.5rem;
  border: $minesweeper-border-size #999 solid;
  z-index: 0;

  &.game-over::after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: red;
    z-index: 1;
    animation: game-over-flash 0.2s linear 0s 1 normal forwards;
  }

  a {
    color: #fff;
    font-size: 2rem;
  }

  footer,
  header {
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    user-select: none;
    height: $minesweeper-head-height;
  }

  // The element above the game grid
  header {
    border-bottom: $minesweeper-border-size #999 solid;

    h1 {
      flex-grow: 1;
      font-size: 2.4rem;
    }

    i {
      padding: 0 20px 0;

      &.active {
        color:#777;
      }
    }

    div {
      position: relative;

      ul {
        background: #333;
        position: absolute;
        top: calc($minesweeper-head-height / 2 + 2px);
        right: calc(0px - $minesweeper-border-size);
        list-style: none;
        font-size: 2rem;
        line-height: 4rem;
        display: none;
        flex-direction: column;
        cursor: pointer;
        width: $minesweeper-width-half;

        &.active {
          display: flex;
        }

        li {
          color: #fff;
          border: $minesweeper-border-size #999 solid;
          border-top: none;
          padding: 6px 4px;
          display:flex;
          align-items: center;
          font-size: 1.3rem;

          p {
            display: inline-block;
            margin-right: 10px;
            flex-grow: 1;
          }

          &:hover,
          &.active {
            color:#777;
          }
        }
      }

      #grid-size-menu,
      #difficulty-menu {
        right: calc($minesweeper-width-half - $minesweeper-border-size);
      }
    }

    #minesweeper-github:hover {
      color: #777;
    }
  }

  footer {
    padding: 15px;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 160px;
      font-size: 1.6rem;

      h2 {
        background: #222;
        color: red;
        padding: 8px;
        font-size: 2rem;
        text-align: center;
        border-top: 2px #555 solid;
        border-left: 2px #555 solid;
        border-bottom: 2px #111 solid;
        border-right: 2px #111 solid;
      }
    }
  }

  // The grid where the game is played
  .grid {
    flex-grow: 1;
    display: grid;
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin:0;

    // A clickable node, may be empty or mined
    .grid-node {
      background: #88c;
      border: 1px #fff solid;
      overflow: hidden;

      &.clicked,
      &.clicked:hover {
        background: #449;
      }

      &.clicked div,
      &.clicked div:hover {
        border: $minesweeper-border-size #66b solid;
      }

      &:hover {
        background: #aae;
      }

      &:active {
        background: #55a;
      }

      div {
        border: $minesweeper-border-size #aae solid;
        width: 100%;
        height: 100%;
        display: flex;
        padding-top: 5px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        color: #fff;
        user-select: none;

        &:hover {
          border: $minesweeper-border-size #dde solid;
        }
      }
    }
  }
}

@keyframes game-over-flash {
  0% {
    opacity: 0%;
  }

  5% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}